*{
	padding: 0;
	margin: 0;
}
body,input,textarea{
	font-size: 12px;
	font-family: Arial,Verdana,"\5b8b\4f53";
}
ul,ol,dl{
	list-style-type: none;
}
li{
	list-style: none;
}
a {
    color: #444;
    text-decoration: none;
    outline: none;
}
i,s{
	display: inline-block;
	vertical-align: middle;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.war{
	width: 1200px;
	margin: 0 auto;
}
.w{
	background: #f7f8f8;
}
.site-nav{
	z-index: 99;
	width: auto;
	position: relative;
	height: 30px;
	background: #f7f9f8;
}
.site-nav .city{
	position: relative;
	color: #008842;
}
.site-nav .city-sz{
	height: 16px;
	line-height: 16px;
	float: left;
	margin: 7px 0;
	cursor: pointer;
}
.site-nav .city-tit{
	float: left;
}

.site-nav .fl li{
	float: left;
	line-height: 30px;
	margin-right: 10px;
}
.site-nav .current .city-name{
	background: #008842;
	color: #000;
}
.site-nav .city-name{
	z-index: 100;
	position: relative;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	padding: 0 20px 5px 5px;
	color: #008842;
	cursor: pointer;
}
.site-nav .city-name s{
	top: 9px;
}
.site-nav s{
	background: url('../images/header/header-img.png') no-repeat 0 0;
	width: 8px;
	height: 4px;
	position: absolute;
	right: 8px;
	margin-left: 5px;
	top: 13px;
	transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
}
.site-nav .fr li{
	position: relative;
	text-align: center;
	float: right;
	line-height: 30px;
	padding: 0 10px;
}
.site-nav .fr i{
	background: url('../images/header/header-img.png') no-repeat left top;
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
.site-nav .TEL i{
	background-position: -86px 0;
}
.site-nav .pay i{
	width: 22px;
	background-position: -147px 0;
}
.site-nav .fr .myyiguo,.site-nav .fr .mobile{
	padding: 0;
}
.site-nav .mobile i{
	background-position: -64px 0;
}
.site-nav .myyiguo i{
	background-position: -40px 0;
}
.site-nav .fr .tit a{
	position: relative;
	border: solid #f7f9f8;
	border-width: 0 1px;
	display: block;
	float: left;
	z-index: 100;
	height: 30px;
	line-height: 30px;
	padding: 0 20px 0 10px;
	cursor: pointer;
}