*{
	padding: 0;
	margin: 0;
}
body,input,textarea{
	font-size: 12px;
	font-family: Arial,Verdana,"\5b8b\4f53";
}
ul,ol,dl{
	list-style-type: none;
}
li{
	list-style: none;
}
a {
    color: #444;
    text-decoration: none;
    outline: none;
}
i,s{
	display: inline-block;
	vertical-align: middle;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
/*清浮动*/

.clearfix:before,
.clear:after {
    display: block;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    overflow: hidden;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}
.w{
	background: #f7f8f8;
}
.site-nav{
	z-index: 99;
	width: auto;
	position: relative;
	height: 30px;
	background: #f7f9f8;
}
.site-nav .city{
	position: relative;
	color: #008842;
}
.site-nav .city-sz{
	height: 16px;
	line-height: 16px;
	float: left;
	margin: 7px 0;
	cursor: pointer;
}
.site-nav .city-tit{
	float: left;
}

.site-nav .fl li{
	float: left;
	line-height: 30px;
	margin-right: 10px;
}
.site-nav .current .city-name{
	background: #008842;
	color: #000;
}
.site-nav .city-name{
	z-index: 100;
	position: relative;
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	padding: 0 20px 5px 5px;
	color: #008842;
	cursor: pointer;
}
.site-nav .city-name s{
	top: 9px;
}
.site-nav s{
	background: url('../images/header/header-img.png') no-repeat 0 0;
	width: 8px;
	height: 4px;
	position: absolute;
	right: 8px;
	margin-left: 5px;
	top: 13px;
	transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
}
.site-nav .fr li{
	position: relative;
	text-align: center;
	float: right;
	line-height: 30px;
	padding: 0 10px;
}
.site-nav .fr i{
	background: url('../images/header/header-img.png') no-repeat left top;
	width: 18px;
	height: 18px;
	margin-right: 5px;
}
.site-nav .TEL i{
	background-position: -86px 0;
}
.site-nav .pay i{
	width: 22px;
	background-position: -147px 0;
}
.site-nav .fr .myyiguo,.site-nav .fr .mobile{
	padding: 0;
}
.site-nav .mobile i{
	background-position: -64px 0;
}
.site-nav .myyiguo i{
	background-position: -40px 0;
}
.site-nav .fr .tit a{
	position: relative;
	border: solid #f7f9f8;
	border-width: 0 1px;
	display: block;
	float: left;
	z-index: 100;
	height: 30px;
	line-height: 30px;
	padding: 0 20px 0 10px;
	cursor: pointer;
}
.site-nav .fr .current .tit a{
	border-color: #b4c1a3;
	background-color: #fff;
	padding-bottom: 1px;
}
.site-nav .fr .con{
	display: none;
	border:1px solid #b4c1a3;
	background-color: #fff;
	position: absolute;
	top: 30px;
	float: left;
}
.site-nav  .current s{
	transform: rotate(180deg);
	-wek-transform : rotate(180deg);
}
.site-nav .mobile .con{
	width: 125px;
	padding: 10px;
	line-height: 25px;

}
.site-nav .fr .current .con{
	display: block;
}

.site-nav .myyiguo .con{
	width: 100px;
	padding: 5px 12px;
}
.site-nav .myyiguo .con a{
	display: block;
	text-align: left;
	font-size: 14px;
	line-height: 25px;
	color: #727272;
}
.site-nav .myyiguo .con b{
	margin-left: 10px;
	padding: 0 5px;
	background-color: #008842;
	color: #fff;
	border-radius: 16px;
}
/* 头部 */
.header{
	background: #e0e0e0;
	overflow: visible;
}
.header .wrap{
	height: 58px;
	padding: 15px 0 5px 0;
}
.logo{
	width: 280px;
	margin-right: 10px;
	float: left;
}
.logo a{
	display: block;
	width: 145px;
	height: 50px;
	background: url('../images/header/logo.png')
}
.search{
	position: relative;
	float: left;
	width: 528px;
}
.search .search-input{
	width: 425px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #008842;
	float: left;
	padding: 0 10px;
	background-color: #e0e0e0;
}
.search .search-btn{
	display: block;
	width: 81px;
	height: 28px;
	line-height: 28px;
	color: #fff;
	background-color: #008842;
	float: left;
	border: none;
	padding: 0;
}
.search{
	line-height: 30px;
}
.search a{
	margin-right: 5px;
	color: #008842;
	display: inline-block;
}
.shopping-cart{
	float: right;
	position: relative;
	z-index: 88;
}
.shopping-cart .shopping-btn{
	width: 170px;
	height: 28px;
	padding: 6px 0;
	border: 1px solid #008842;
	background-color: #fff;
	font-size: 25px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	z-index: 88;
}
.shopping-btn a{
	display: block;
	color: #008842;
}
.shopping-cart .totelNum{
	display: inline-block;
	vertical-align: middle;
	background: url('../images/header/header-img.png') no-repeat -112px 0;
	width: 28px;
	height: 20px;
	margin-right: 10px;
	font-size: 12px;
	padding: 0;
}
.shopping-btn .totelNum b{
	display: block;
	width: 24px;
	line-height: 12px;
	text-align: center;
	margin-right: 4px;
}
.shopping-btn .totelPrice{
	font-weight: normal;
	font-family: Arial, "Microsoft YaHei";
}
.shopping-list{
	width: 380px;
	position: absolute;
	top: calc(100% - 1px);
	background: #fff;
	border: 1px solid #008842;
	float: right;
	right: 0;
	z-index: 88;
	padding: 10px;
}
.shopping-list .nogoods{
	width: 380px;
	height: 120px;
	text-align: center;
	font-size: 12px;
	line-height: 120px;

}
.shopping-list .deliveryType{
	background-color: #e0e0e0;
	line-height: 28px;
	padding: 0 10px;
	margin: -10px 0 0 -10px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 380px;
	color: #008842;
}
.shopping-list .price-total{
	width: 380px;
	margin-top: 10px;
	border-top: 1px solid #e0e0e0;
	padding-top: 10px;
	text-align: right;
	line-height: 27px;
}
.price-total .totleNum{
	margin-right: 10px;
}
.price-total b{
	color: red;
	font-size: 14px;
}
.shopping-list .settleup{
	background-color: #008842;
	color: #fff;
	display: inline-block;
	width: 75px;
	line-height: 27px;
	text-align: center;
	float: right;
}
/* 商品分类 */
.catalogs{
	position: relative;
	float: left;
}
.catalogs-title{
	width: 180px;
	color: #fff;
	background-color: #008842;
	text-align: center;
	position: relative;
}
.catalogs-title span{
	font: bold 15px/16px "Microsoft YaHei";
	display: block;
	height: 16px;
	padding: 11px 0;
}